# Node modules
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Vite cache
.vite/

# Vite cache
.vite
# o si está dentro de node_modules:
node_modules/.vite


# Env files
.env
.env.local
.env.*.local

# Editor folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Tailwind config cache
.tailwind.config.js.backup
